* text=auto
*.m text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.fits binary
*.fts binary
*.hdf binary
*.h5 binary
*.png binary
*.jpg binary
*.jp2 binary
*.xlsx binary
